<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <div class="d-flex align-center">
                <span class="mr-2">Online Shop</span>
                <v-divider></v-divider>
                <v-btn @click.stop="openCreateModal">New Item</v-btn>
                <v-btn class="mx-1" to="/favs">My Favorites</v-btn>
            </div>
        </v-app-bar>
        <v-dialog v-model="dialog" width="800">
            <v-card>
                <v-card-title class="text-h5 grey lighten-2">
                    New Product
                </v-card-title>

                <v-row style="height: 8px" class="mx-1" no-gutters>
                    <v-divider class="mx-1"></v-divider>
                    <v-progress-linear class="mx-1" indeterminate reverse height="4"
                        :active="activeModalLoading"></v-progress-linear>
                </v-row>
                <v-card-text>
                    <v-row justify="start" class="px-4 pt-4">
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field outlined persistent-hint flat dense clearable label="Title" class="yekan"
                                hide-details="auto" v-model="form.title" variant="solo">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row justify="start" class="px-4 pt-4">
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field outlined persistent-hint flat dense clearable label="Description" class="yekan"
                                hide-details="auto" v-model="form.description" variant="solo">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-alert v-if="!formIsValid" type="error" dense class="lighten-1 mt-2">
                                Invalid Data
                            </v-alert>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn elevated text @click="submitNewProduct">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <router-view></router-view>
    </v-app>
</template>

<script>
import { getApi } from "../axios-api";

export default {

    data() {
        return {
            dialog: false,
            activeModalLoading: false,
            formIsValid: true,
            form: {
                title: null,
                description: null
            }
        };
    },

    methods: {
        openCreateModal() {
            this.dialog = true
        },

        submitNewProduct() {
            this.formIsValid = Object.values(this.form).every((o) => o !== null);
            if (this.formIsValid) {
                this.activeModalLoading = true;
                getApi.post("admin/product", this.form).then((response) => {
                    console.log(response);
                    this.form = {
                        title: null,
                        description: null,
                    };
                    this.activeModalLoading = false;
                    this.dialog = false;
                }).catch((error) => {
                    console.log(error);
                    this.form = {
                        title: null,
                        description: null,
                    };
                    this.activeModalLoading = false;
                    this.dialog = false;
                    alert('You can\'t create new product')
                });
            }
        },
    },
};
</script>
