<template>
  <v-row style="height: 8px" class="mt-2" no-gutters v-if="loading">
    <v-progress-linear indeterminate reverse height="4" class="mt-16" :active="loading"></v-progress-linear>
  </v-row>
  <v-main v-else>
    <v-col cols="12" sm="12">
      <v-row>
        <ProductItem v-for="(item, i) in products" :key="i" :title="item.title" :description="item.description"
          :id="item.id" btnCaption="Like" />
      </v-row>
    </v-col>
  </v-main>
</template>

<script>
import { getApi } from "../axios-api";
import ProductItem from "../components/ProductItem";

export default {
  name: 'ListPage',

  components: {
    ProductItem,
  },

  data: () => ({
    loading: false,
    products: []
  }),

  methods: {
    loadProducts() {
      this.loading = true;
      this.rolesList = [];
      getApi
        .get("products")
        .then((response) => {
          this.loading = false;
          this.products = response.data.result.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.loadProducts()
  },

};
</script>
