<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <span class="mr-2">Online Shop</span>
      </div>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-row align="center" justify="center" class="pt-4">
          <template>
            <v-sheet width="300" class="mx-auto">

              <v-form ref="form">
                <v-text-field v-model="form.email" label="Email" dense outlined required></v-text-field>
                <v-text-field v-model="form.password" label="Password" dense outlined required type="password"></v-text-field>

                <div class="d-flex flex-column">
                  <v-btn color="success" class="mt-4" block @click="proccessLogin">
                    Login
                  </v-btn>
                </div>
              </v-form>
            </v-sheet>
          </template>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

import { getApi } from "../axios-api";

export default {
  name: 'LoginPage',

  data: () => ({
    form: {
      email: null,
      password: null,
    },
    loading: false,
  }),

  methods: {
    proccessLogin() {
      getApi.post("auth/login/", this.form).then((response) => {
        this.form = {
          email: null,
          password: null,
        };
        localStorage.setItem('access_token', response.data.result.data.token);
        this.dialog = false;
        this.$router.push({ name: "ListPage" });
      }).catch((error) => {
        console.log(error);
        alert('Invalid Login');
      });
    },
  },
}
</script>