<template>
    <v-row class="mt-4">
        <v-dialog v-model="dialog" width="800">
            <v-card>
                <v-card-title class="text-h5 grey lighten-2">
                    Update Product
                </v-card-title>

                <v-row style="height: 8px" class="mx-1" no-gutters>
                    <v-divider class="mx-1"></v-divider>
                    <v-progress-linear class="mx-1" indeterminate reverse height="4"
                        :active="activeModalLoading"></v-progress-linear>
                </v-row>
                <v-card-text>
                    <v-row justify="start" class="px-4 pt-4">
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field outlined persistent-hint flat dense clearable label="Title" class="yekan"
                                hide-details="auto" v-model="form.title" variant="solo">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row justify="start" class="px-4 pt-4">
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field outlined persistent-hint flat dense clearable label="Description" class="yekan"
                                hide-details="auto" v-model="form.description" variant="solo">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-alert v-if="!formIsValid" type="error" dense class="lighten-1 mt-2">
                                Invalid Data
                            </v-alert>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn elevated text @click="submitChanges">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-row style="height: 8px" no-gutters v-if="loading">
            <v-progress-linear indeterminate reverse height="4" class="mt-16" :active="loading"></v-progress-linear>
        </v-row>
        <v-main v-if="!loading">
            <div class="d-flex justify-center">
                <v-card width="1000px">
                    <v-card-title class="text-h6 text-md-h5 text-lg-h4">{{ product.title }}</v-card-title>
                    <v-card-text>
                        {{ product.description }}
                    </v-card-text>
                    <v-card-actions>
                        <v-btn variant="outlined" @click.stop="openUpdateModal">
                            Update
                        </v-btn>
                        <v-btn variant="outlined" @click.stop="deleteItem">
                            Delete
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </div>
        </v-main>
    </v-row>
</template>

<script>
import { getApi } from "../axios-api";

export default {
    name: 'ProductPage',

    data: () => ({
        loading: false,
        activeModalLoading: false,
        dialog: false,
        product: null,
        formIsValid: true,
        form: {
            title: null,
            description: null
        }
    }),

    methods: {
        loadProduct(id) {
            this.loading = true;
            getApi
                .get("user/product/" + id)
                .then((response) => {
                    this.loading = false;
                    this.product = response.data.result.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        openUpdateModal() {
            this.dialog = true;
            this.form.title = this.product.title;
            this.form.description = this.product.description;
        },

        submitChanges() {
            this.formIsValid = Object.values(this.form).every((o) => o !== null);
            if (this.formIsValid) {
                this.activeModalLoading = true;
                getApi.patch("admin/product/" + this.$route.params.id, this.form).then((response) => {
                    console.log(response);
                    this.form = {
                        title: null,
                        description: null,
                    };
                    this.activeModalLoading = false;
                    this.dialog = false;
                    this.loadProduct(this.$route.params.id)
                }).catch((error) => {
                    console.log(error);
                    this.form = {
                        title: null,
                        description: null,
                    };
                    this.activeModalLoading = false;
                    this.dialog = false;
                    alert('You can\'t update product')
                });
            }
        },

        deleteItem() {
            this.loading = true;
            getApi.delete("admin/product/" + this.$route.params.id).then((response) => {
                console.log(response);
                this.loading = false;
                this.$router.push('/')
            }).catch((error) => {
                console.log(error);
                this.loading = false;
                this.dialog = false;
                alert('You can\'t delete product')
            });
        },
    },

    created() {
        this.loadProduct(this.$route.params.id)
    },

};
</script>
