<template>
  <v-col cols="12" sm="12" md="3">
    <v-row style="height: 8px" class="mx-1" no-gutters>
      <v-divider class="mx-1"></v-divider>
      <v-progress-linear class="mx-1" indeterminate reverse height="4" :active="activeModalLoading"></v-progress-linear>
    </v-row>
    <v-card class="mx-auto" variant="outlined">
      <router-link :to="'/details/' + id">
        <v-card-item>
          <div>
            <div class="text-overline mb-1">
              # {{ id }}
            </div>
            <div class="text-h6 mb-1">
              {{ title }}
            </div>
            <div class="text-caption">{{ description }}</div>
          </div>
        </v-card-item>

      </router-link>
      <v-card-actions>
        <v-btn variant="outlined" @click.stop="favoriteProduct">
          {{ btnCaption }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
import { getApi } from "../axios-api";

export default {
  name: 'ProductItem',

  props: {
    title: {
      type: String,
      require: true,
    },
    description: {
      type: String,
      require: true,
    },
    btnCaption: {
      type: String,
      require: true,
    },
    id: {
      require: true,
    },
  },

  data: () => ({
    activeModalLoading: false,
  }),

  methods: {
    favoriteProduct() {
      this.activeModalLoading = true
      var uri = "user/bookmark"
      if(this.$props.btnCaption == 'Unlike') {
        uri = "user/unbookmark"
      }
      getApi.post(uri, {product_id: this.$props.id}).then((response) => {
        console.log(response);
        this.activeModalLoading = false;
      }).catch((error) => {
        console.log(error);
        this.activeModalLoading = false;
        alert('You can\'t add this product to favorits list')
      });
    },
  }
}
</script>
